{%extends 'base.html' %}
<DOCTYPE html>
	<html>
	<head>
		{% block head %} 
		<title>ABOUT EgertonSDA</title>
		{% endblock %}
	</head>
	<body>
		
			{% block body %}
             <H1>ABOUT US</H1>
		<H2>Egerton SDA church is located 1 kilometer away from egerton univerty's main gate,(egerton university is 26km from nakuru town and 5km from<br> njoro township) .it was started in the year 0000.since then the church members through the the blessings ofGod were able to put up an astounishing concrete building which is in its final stages of completion.the church has several departments whose activities can be actively be followed on the departments option .the departments include ,elders office,AMO,women ministries and adventist youth </H2>
			 {% endblock %}
			
		</body>
	</html>