{%extends 'base.html' %}
<DOCTYPE html>
	<html>
	<head>
		{% block head %}
		<title>Egerton SDA ADVENTIST MEN </title>
		{% endblock %}
		
	
	</head>
	<body>
		
		{% block body %}
		<h1>EGERTON SEVENTH DAY CHURCH ADVENTIST MEN ORGANIZATION (AMO)</h1>
		<h4>
			Egerton Seventh Day Church Adventist Men Organization is a department within the church that is concerned with the nurturing of men for the service to God, family and the community.  Our goal is to meet the spiritual needs of the men in the church through prayer and fellowship. We help men realize their spiritual gifts through bible study and challenge them to understand the need for being great spiritual role models and witnesses for Christ. Specifically, the department has been established to promote programmes and activities designed to foster the spiritual, intellectual, social, moral, health and physical well-being of men and to give them opportunities to understand the responsibilities of Adventist men and to engage them in evangelistic activities.

			<br/><u>Mission Statement</u>
			<ul>
				<li>To provide spiritual strength and unity amongst men.</li>
				<li>To guide, teach, counsel and mentor other men so they can become godly men, faithful fathers, loving husbands and leaders with integrity.
				</li>
			</ul>
				<u>AMO Objectives</u>
			<ul>
				<li>To help all men and boys develop a richer and deeper relationship with God through bible study.</li>
				<li>To have our matured men be committed and dedicated mentors for our young men.</li>
				<li>To train our men to be effective priest loving husbands and dedicated fathers at home.</li>
				<li>To increase our respect and appreciation for our women.</li>
			</ul>




<br/>If you want to get involved with the Egerton Seventh-Day Adventist Church’s AMO Ministries, or you want someone to talk with<br/>
<br/>contact-AMO leader  
<br/>+254723707206
</h4>
		{% endblock %}
	

	

</body>
</html>
