{% extends 'base.html' %}
 {% load static%}
<DOCTYPE html>
	<html>
	<head>
		{%block head%} 
		<title>EgertonSDA CALENDAR</title>
		{% endblock %}
		
	</head>
	<body>
		{%block body%} 
		<H1>CALENDAR</H1>
		

<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;hl=en_GB&amp;bgcolor=%2366cccc&amp;src=f1tt6ai20fhd26hvahjg76c878%40group.calendar.google.com&amp;color=%23853104&amp;ctz=Africa%2FNairobi" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
</div>
{% endblock %}
</body>
</html>
